<div class="col-md-6">
  <button class="btn" (click)="createNew">Add picture</button>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Preview</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pic of pictures">
        <td>{{pic.id}}</td>
        <td>{{pic.Description}}</td>
        <td>img goes here</td>
        <td>
          <button class="btn" (click)="editPicture(pic)">Edit</button>
          <button class="btn danger" (click)="deletePicture(pic)">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
